*{
margin: 0;
padding: 0;
border: border-box;
font-family: Arial, Helvetica, sans-serif, sans-serif;
line-height: auto;
text-decoration: none; 
list-style-type: none;



}

.AvatarGif {
    width: 100px;
}

.hero {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.hero_header {
    display: flex;
    display: block;
    text-align: center; 
    color: #050505; 
}

.hero_heading{
    font-size: 40px;
    text-align: center; 
    color: #050505;
    
}

.hero_subheading{
    font-weight: medium ;
}

button{
    
    background-color: #121212;
    color: #ffffff !important;
    border-radius: 5px;
    width: 160px;
    height: 30px;
    font-weight: bold;
    border: none; 
    margin: 20px;



}
p:active{
    color:#ffffff
}
.hero_button:hover{
    background-color: rgba(12,12,12, 0.7);
}


.home_link:hover {
    
    color:#ffffff
}

.home_link:active {
    color: #ffffff;
}

.home_link:focus {
    color: #ffffff;
}

.home_link:visited {
    color: #ffffff;
}

h3,p:hover{
    color:#050505
}

.miscellaneous_heading {
    margin-top: 10px;
}

p {
    color: #050505;
}

.ul1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;

}

.li1{

    border: 2px;
    border-style: solid;
    border-color:rgba(00,00,00,0.08);
    background-color: #F6F5F4;
    border-radius: 12px;
    padding: 25px;
    margin-left: -100px;
    margin-right: -100px;
}

.li1:hover{
    background-color: #FFFFFF;

}

h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

#hero_p1:hover{
    color: #0A85D1;
}

#hero_p2:hover{
    color: #EA4E43;
}

#hero_p3:hover{
color: #9D34DA;
}


.hero_p:active{
    color: #050505;
}

.hero_p:focus{
    color: #050505;
}

.hero_p:visited{
    color: #050505;
}




hr{
    color: rgba(0, 0, 0, 0.1);
    border-color:rgba(0, 0, 0, 0.1); ;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 40%;
}

footer{
    font-size: 13.6px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}


/* workshop*/

.ul2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px;
    flex-wrap: wrap;
    
    
}

.li2{
    width: 65%;
    
    border: 2px;
    border-style: solid;
    border-color:rgba(00,00,00,0.08);
    background-color: #F6F5F4;
    border-radius: 12px;
    padding: 18px;
    margin-block: 25px;
   
}

.li2:hover{
    background-color: #FFFFFF
}

.workspace_p1:hover{
    color: #EA4E43;
}

.workspace_p2:hover{
    color: #F5A300;
}

.workspace_p3:hover{
color: #0A85D1;
}

h4 {
    color: #050505;
    margin-bottom: 8px;
    margin-top: 8px;
}

/* miscellaneous */


.ul3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px;
    flex-wrap: wrap;
    
    
}

.li3{
    width: 65%;
    
    border: 2px;
    border-style: solid;
    border-color:rgba(00,00,00,0.08);
    background-color: #F6F5F4;
    border-radius: 12px;
    padding: 18px;
    margin-block: 25px;
   
}



.li3:hover{
    background-color: #FFFFFF
}

#misc_p1:hover{
    color: #F8792A;
}

#misc_p2:hover{
    color: #9D34DA;
}

#misc_p3:hover{
color: #EA4E43;
}

#misc_p4:hover{
    color: #F5A300;
    }

#misc_p5:hover{
color: #FAA700;
}

#misc_p6:hover{
    color: #0A85D1;

    }


.th{
    padding: 10px;
    color: #050505;
    border-spacing:0cap
}

td {
    padding-right: 50px
}

.misc_p6 label {
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
    width: 100%;
    
}

.misc_p6 input[type="text"] {

    border: 1px solid rgba(00,00,00,0.08);
    padding: 12px;
    box-sizing: border-box;
    width: 65%;
    resize: vertcal;
    border-radius: 5px;

}

#message {
    height: 100px;
}

.misc_p6 input[type="submit"] {
    background-color: #121212;
    color: #ffffff !important;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    border: none; 
    margin-top: 28px;
    cursor: grab;

}

#submit_button:hover {
    background-color: rgba(12,12,12, 0.7);
}

#tools_used {
    height: 120x;
}

#tools_used_svg {
    margin-top:  15px;
    width: 12%;
}


    


    